<html>
    <head>
        <title>MailerLite Add Subscriber Form</title>

        <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css">

        <style>
            form { position: relative; }
            .form-overlay { display: flex; position: absolute; background-color: rgba(255, 255, 255, 0.4); top: 0; right: 0; bottom: 0; left: 0; }
        </style>

        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>

    <body class="bg-light">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-4">
                    <img class="img-fluid" src="https://www.mailerlite.com/site/themes/new/img/mailerlite.png" />
                </div>
            </div>

            <div class="row" id="app">
                <div class="col-md-8">
                    <h4 class="mb-3">Add a new subscriber</h4>

                    <form method="post" @submit="formPost">
                        <div class="alert" 
                             role="alert" 
                             :class="{ 'alert-danger': formMessageType == 'danger', 'alert-success': formMessageType == 'success' }"
                             v-if="formMessages.length">
                            <ul class="my-0">
                                <li v-for="formMessage in formMessages">{{ formMessage }}</li>
                            </ul>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="fiName">Name</label>
                                <input class="form-control" 
                                       id="fiName" 
                                       type="text" 
                                       placeholder="your name" 
                                       value="" 
                                       required
                                       v-model="sName">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="email">Email</label>
                                <input class="form-control" 
                                       id="email" 
                                       type="email" 
                                       placeholder="you@example.com" 
                                       required
                                       v-model="sEmail">
                            </div>
                        </div>

                        <div class="row" v-if="false">
                            <div class="col-md-6 mb-3">
                                <label for="fiState">State</label>
                                <select class="custom-select d-block w-100" id="fiState" required>
                                    <option value="">Choose...</option>
                                    <option>Active</option>
                                    <option>Bounced</option>
                                </select>
                            </div>
                        </div>

                        <hr class="mb-4">

                        <div class="row">
                            <template v-for="(formField, index) in formFields">
                                <div class="col-md-6 mb-3">
                                    <label 
                                        :for="`fi${formField.keyword}`"
                                        :key="`lbl-${formField.keyword}`"
                                        >
                                        {{ formField.title }}
                                    </label>
                                    <input class="form-control" 
                                           placeholder="" 
                                           value=""
                                           v-model="formFieldData[formField.keyword]"
                                           :type="formField.datatype"
                                           :id="`fi${formField.keyword}`" 
                                           :name="`fi${formField.keyword}`">
                                </div>
                            </template>
                        </div>

                        <hr class="mb-4">

                        <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>

                        <div class="form-overlay" :class="{ 'd-none': !showFormOverlay }">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;background:transparent;display:block;" width="94px" height="94px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                            <circle cx="84" cy="50" r="1.83004" fill="#05c267">
                            <animate attributeName="r" repeatCount="indefinite" dur="0.25s" calcMode="spline" keyTimes="0;1" values="5;0" keySplines="0 0.5 0.5 1" begin="0s"></animate>
                            <animate attributeName="fill" repeatCount="indefinite" dur="1s" calcMode="discrete" keyTimes="0;0.25;0.5;0.75;1" values="#05c267;#05c267;#05c267;#05c267;#05c267" begin="0s"></animate>
                            </circle>
                            <circle cx="16" cy="50" r="3.16996" fill="#05c267">
                            <animate attributeName="r" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;5;5;5" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="0s"></animate>
                            <animate attributeName="cx" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="0s"></animate>
                            </circle>
                            <circle cx="37.5557" cy="50" r="5" fill="#05c267">
                            <animate attributeName="r" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;5;5;5" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.25s"></animate>
                            <animate attributeName="cx" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.25s"></animate>
                            </circle>
                            <circle cx="71.5557" cy="50" r="5" fill="#05c267">
                            <animate attributeName="r" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;5;5;5" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.5s"></animate>
                            <animate attributeName="cx" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.5s"></animate>
                            </circle>
                            <circle cx="16" cy="50" r="0" fill="#05c267">
                            <animate attributeName="r" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;5;5;5" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.75s"></animate>
                            <animate attributeName="cx" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.75s"></animate>
                            </circle>
                            </svg>
                        </div>
                    </form>
                </div>

                <div class="col-md-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Subscribers</span>
                        <span class="badge badge-secondary badge-pill">{{ subscriberCount }}</span>
                    </h4>

                    <div class="list-group mb-3">
                        <div class="list-group-item" v-for="subscriber in subscribers">
                            <div>
                                <h6 class="my-0">
                                    {{ subscriber.name }}
                                    <span class="badge badge-primary badge-pill float-right">{{ subscriber.state_label }}</span>
                                </h6>
                                <small class="text-muted">{{ subscriber.email }}</small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </body>

    <script>
new Vue({
    el: "#app",
    data: {
        sName: "",
        sEmail: "",
        formFieldData: {},
        formMessages: [], // all alert messages will go here
        formMessageType: "danger", // alert message type (danger or success)
        subscribers: [],
        subscriberCount: 0,
        formFields: [],
        showFormOverlay: false
    },
    mounted() {
        this.getSubscribers();

        this.getFields();
    },
    methods: {
        getSubscribers: function () {
            axios.get("/api.php?type=subscribers")
                    .then(response => {
                        this.subscribers = response.data.data
                        this.subscriberCount = response.data.total
                    });
        },
        getFields: function () {
            axios.get("/api.php?type=fields")
                    .then(response => {
                        this.formFields = response.data.data
                    })
        },
        formPost: function (e) {
            this.showFormOverlay = true;
            this.formMessages = [];

            e.preventDefault();
            
            if (!this.sName) {
                this.formMessages.push("Name is required");
            }

            if (!this.sEmail) {
                this.formMessages.push("Email is required");
            }

            // no errors
            if (this.formMessages.length == 0) {
                axios.post("/api.php?type=subscriber-add", {
                    email: this.sEmail,
                    name: this.sName,
                    fields: this.formFieldData
                }).then(response => {
                    if (response.data.error === 0) {
                        this.formMessageType = "success";
                        this.getSubscribers();
                    }

                    this.formMessages.push(response.data.message);
                    this.showFormOverlay = false;
                }).catch(error => {
                    this.formMessages.push(error);
                    this.showFormOverlay = false;
                });
            } else {
                this.showFormOverlay = false;
            }

        }
    }
});
    </script>
</html>