<?php

defined("APP_DESC") OR exit('No direct script access allowed');

define("DB_HOST", "localhost");
define("DB_NAME", "db");
define("DB_USER", "root");
define("DB_PASSW", "password");

define("FIELD_DATATYPES", array(
    1 => "text"
));

define("SUBSCRIBER_STATES", array(
    "ACT" => "Active",
    "UNS" => "Unsubscribed",
    "BOU" => "Bounced",
    "JUN" => "Junk",
    "UNC" => "Unconfirmed",
));

define("SUBSCRIBER_DEFAULT_STATE", "ACT");

define("FIELD_TYPES", array(
    1 => "TEXT",
    2 => "NUMBER",
    3 => "DATE",
));

define("API_KEY", "MAILERLITE_API_KEY");
define("API_URL", "http://api.mailerlite.com/api/v2/");